
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

header{
  background-image: linear-gradient(rgba(160, 182, 243, 0.7),rgba(4,9,30,0.7)), url(img/yoga-header.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  height: 50vh;
  margin: 0 auto;
}

nav{
  width: 80%;
  margin: 0 auto;
}

nav .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;

}

nav .navbar .info{
 display: flex;
 gap: 5px;
 margin: 0 20px;
}

.fa-solid, .fa-regular{
  background-color: aliceblue;
  color: black;
  border-radius: 50%;
  text-align: center;
 padding: 5px;
}


.text{
  margin-top: 90px;
  text-align: center;
  padding: 5px 30px;
}

.text p{
  margin: 10px 0;
}


.text .btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5px;
  background:plum;
  color: #fff;
  padding: .9rem 3rem;
  cursor: pointer;
  font-size: 1rem;
}

.yoga{
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.heading{
  color: blue;
  text-align: center;
  padding-top: 50px;
}

.heading-p{
  color: gray;
  text-align: center;
  margin: 10px;
}

.yoga h1{
  color: blue;
  text-align: center;
  margin-top: 20px;
}

.yoga p{
  color: gray;
  text-align: center;
  margin: 10px;
}

.yoga .col-1{
  display: flex;
  gap: 10px;

  
}

.yoga .col-1 .class{
  margin-top: 30px;
  text-align: center;
  padding: 0 10px;
}

.yoga .col-1 .class h2{
  font-weight: bold;
  color: black;
}

.yoga-center{
  display: flex;
  margin: 180px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.yoga-center .left{
  width: 50%;
  padding-top: 3rem;
  text-align: start;
  padding-left: 5rem;
  padding-right: 1rem;
  padding-bottom: 3rem;
  background-color: rgb(249, 248, 248);
}

.yoga-center .left h2{
  color: rgb(152, 152, 239);
  margin-bottom: 1rem;
}

.yoga-center .left p{
  color: black;
  line-height: 1rem;
  
}

.yoga-center .left h4{
  color: black;
  line-height: 3rem;
}


.yoga-center .right{
  width: 50%;
}

.yoga-center .right img{
  width: 100%;
  height: 100%;
}

.advantage{
  background: url(img/advantages-of-yoga.jpg);
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;

}

.advantage h4,p{
  color: black;
}

.advantage .mind{
  display: flex;
  gap: 8rem;
  justify-content: center;
  margin-top: 2rem;
}

.advantage .mind .left-1{
  max-width: 300px;
  text-align: end;
}

.advantage .mind .right-1{
  max-width: 300px;
  text-align: start;
}

.advantage .health{
  display: flex;
  gap: 18rem;
  justify-content: center;
  margin-top: 2rem;
}

.advantage .health .left-1{
  max-width: 300px;
  text-align: end;
}

.advantage .health .right-1{
  max-width: 300px;
  text-align: start;
}

.advantage .refresh{
  display: flex;
  gap: 25rem;
  justify-content: center;
  margin-top: 2rem;
}

.advantage .refresh .left-1{
  max-width: 300px;
  text-align: end;
  
}

.advantage .refresh .right-1{
  max-width: 300px;
  text-align: start;

}


.classes{
  max-width: 1440px;
  margin: 0 auto;
  background: whitesmoke;
}

.classes .row{
  max-width: 1000px;
  display: flex;
  margin: 0 auto;
  gap: 20px;
}

.classes .row .col-1{
  text-align: center;
  margin: 4rem 0;
 
}

.row .col-1 img{
  height: 100px;
  border-radius: 50%;
}

.schedule{
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
}

.schedule .row{
  display: flex;
  margin-top: 4rem;
}

.schedule .row .col-2{
  width: 50%;
  text-align: center;
}


.schedule .row .col-2 .left-1{
  border: 2px solid rgb(220, 11, 253);
  padding: 2rem 1rem;

}

.schedule .row .col-2 .left-1 p{
  padding: 1rem 0;
}

.schedule .row .col-2 .left-1 .box{
  width: 45%;
  margin: .4rem 0;
  padding: 1rem;
  border:2px solid rgb(220, 11, 253);
  border-radius: 5px;
}

.schedule .row .col-2 .left-1 #msg{
width: 91%;
margin: .4rem 0;
  padding: 1rem 0;
  border:2px solid rgb(220, 11, 253);
  border-radius: 5px;
  padding: 1rem;
}

.schedule .row .col-2 .left-1 .btn{
 
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5px;
    background:rgb(220, 11, 253);
    color: #fff;
    padding: .9rem 3rem;
    cursor: pointer;
    font-size: 1rem;
  
}

.schedule .row .col-2 .weekdays{
  margin: 3rem;
}

.schedule .row .col-2 .weekdays h1,h4,p{
  line-height: 2.5rem;
}


.trainers{
  max-width:1440px;
  margin: 0 auto;
  background: rgb(218, 194, 194);
}



.trainers .row{
  max-width:1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.trainers .row .col-3{
 flex: 1 1 auto;
  text-align: center;
  margin: 3rem .5rem;
}


.trainers .row .col-3 img{
  width: 150px;
  border-radius: 50%;
}

.footer .Queries .join{
  text-align: center;
  margin: 3rem auto;
}

.footer .Queries .join .btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5px;
  background:rgb(84, 11, 253);
  color: #fff;
  padding: .9rem 3rem;
  cursor: pointer;
  font-size: 1rem;

}

.footer .Rights{
  max-width: 1440px;
  background-color: rgb(24, 24, 81);
  margin: 0 auto;
  

}

.footer .Rights .all{
 max-width: 1000px;
 margin: 0 auto;
 display: flex;
 justify-content: space-around; 
 align-items: center;
 padding: 3rem;
}


.footer .Rights .all .left-4 p{
  color: #fff;
  font-size: 1.2rem;
}

.footer .Rights .all .right-4 i{
  color: #fff;
  font-size: 1.2rem;
  padding: 0 5px;
}